<h1><strong><%= @recipe.recipe_name %></strong>
    <% if @recipe.user == current_user %>
        <%= link_to 'Edit', edit_recipe_path, :class => "btn btn-info btn-xs" %>
        <%= link_to 'Delete', recipe_path, method: :delete, data: {confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %>
    <% end %>
</h1>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <%= image_tag @recipe.image.thumb('575x600').url, class: "img-responsive" if @recipe.image_stored? %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <p><strong>By:</strong> <%= @recipe.user.username %></p>
        <p><strong>Serves:</strong> <%= @recipe.servings %></p>
        <p><strong>Prep Time:</strong> <%= @recipe.prep_time %> minutes</p>
        <p><strong>Cook Time:</strong> <%= @recipe.cook_time %> minutes</p> <br>
        <div class="">
            <h4><strong>Description:</strong></h4> <p><%= @recipe.description %></p>
        </div>
    </div>
</div>

<div class="show-text-formatting row">
    <div class="col-xs-4 col-sm-4 col-md-4">
        <h4><strong>Ingredients:</strong></h4> <br>
        <ul>
            <% @recipe.ingredients.each_line do |line| %>
                <li><%= line.chomp %></li>
            <% end %>
        </ul>
    </div>
    
    <div class="col-xs-8 col-sm-8 col-md-8">
        <h4><strong>Directions:</strong></h4> <br>
        <ol>
            <% @recipe.directions.each_line do |line| %>
                <li><%= line.chomp %></li> <br>
            <% end %>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <%= render 'comments/form' %>
    </div>
</div>