<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <!-- navigation bar -->
        <nav class="nav navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" href="#">recipe</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><%= link_to 'Home', controller: 'home' %></li>
                    <li><%= link_to 'Browse Recipes', controller: 'recipes' %></li>
                    <li><%= link_to 'Add Recipe', new_recipe_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-static-top">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                </ul>
            </div>
        </nav>
        
        <div class="content container">
            <h1><strong><%= @recipe.recipe_name %></strong></h1>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <img src="" alt="+Add Photo" />
                </div>
                <div class="col-xs-6 col-md-4">
                    <p><strong>By:</strong> <%= @recipe.author %></p>
                    <p><strong>Serves:</strong> <%= @recipe.servings %></p>
                    <p><strong>Prep Time:</strong> <%= @recipe.prep_time %> minutes</p>
                    <p><strong>Cook Time:</strong> <%= @recipe.cook_time %> minutes</p>
                </div>
            </div>
            
            <p><strong>Description:</strong> <br> <%= @recipe.description %></p>
            <p><strong>Ingredients:</strong> <br> <%= @recipe.ingredients %></p>
            <p><strong>Directions:</strong> <br> <%= @recipe.directions %></p>
        </div>
        
        <footer>
            <p>&copy Copyright 2017 Team Unicorn, All Rights Reserved</p>
        </footer>
    </body>
</html>